button{
    align-content: center;
    background-color: rgb(133, 130, 127);
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

p{
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
